{% extends 'catalog/base.html' %}
{% load mediapath_tag %}
{% load static %}

{% block content %}
<div class="col-lg-4 mx-auto">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Сброс пароля</h4>
        </div>
        <div class="card-body">
            <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Введите адрес электронной почты:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                </p>
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                    Сбросить пароль
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
