{% extends 'catalog/base.html' %}
{% load mediapath_tag %}
{% load static %}

{% block content %}
<div class="col-lg-6 mx-auto">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Успешное восстановление пароля</h4>
        </div>
        <div class="card-body" style="text-align: center;">
            <p>Новый пароль был отправлен на ваш адрес электронной почты.</p>
             <img src="{% mediapath 'icons/email.png' %}" alt="Email" width="300" height="300">
        </div>
    </div>
</div>
{% endblock %}
