{% extends 'catalog/base.html' %}
{% load mediapath_tag %}
{% load static %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="col-lg-6 mx-auto">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Создайте собственный товар</h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <p>
                    <label for="id_name">Название товара:</label>
                    <input type="text" name="name" maxlength="50" class="form-control"
                           required="" id="id_name" {% if product %} value="{{ product.name }}" {% endif %}>
                </p>
                <p>
                    <label for="id_description">Описание товара:</label>
                    <textarea name="description" cols="40" rows="10" maxlength="500" class="form-control"
                              required=""
                              id="id_description">{% if product %}{{ product.description }}{% endif %}</textarea>
                </p>
                <p>
                    <label for="id_image_preview">Фото товара:</label>
                    {% if product %}
                    </br>
                    На данный момент:
                    <a href="/media/products/{{ product.image_preview }}">{{ product.image_preview }}</a>
                    </br>
                    Изменить:
                    <input type="file" name="image_preview" accept="image/*" class="form-control"
                           id="id_image_preview">
                    {% else %}
                    <input type="file" name="image_preview" accept="image/*" class="form-control"
                           id="id_image_preview">
                    {% endif %}
                </p>
                <p>
                    <label for="id_category">Введите категорию:</label>
                    <input type="text" name="category" maxlength="50" class="form-control" required=""
                           id="id_category" {% if product %} value="{{ product.category }}" {% endif %}>
                </p>
                <p>
                    <label for="id_price_per_unit">Введите цену в $:</label>
                    <input type="number" name="price_per_unit" min="0" class="form-control" required=""
                           id="id_price_per_unit" {% if product %} value="{{ product.price_per_unit }}" {% endif %}>
                </p>
                {% if product %}
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Обновить</button>
                {% else %}
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сохранить</button>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
