{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-6 mx-auto">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Хотите удалить товар "{{ product.name }}"?</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p class="mb-3">Подтвердите, чтобы удалить товар. Это действие необратимо.</p>
                <button type="submit" class="btn btn-lg btn-danger mr-2">Подтвердить</button>
                <a href="{% url 'catalog:home_page' %}" class="btn btn-lg btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
