{% extends 'catalog/base.html' %}
{% load mediapath_tag %}
{% load static %}


{% block css %}
<link href="{% static 'css/products-detail.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="product-details">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image-container">
                    <span class="product-category">Категория: {{ product.category }}</span>
                    <img src="{% mediapath product.get_image_url %}" alt="{{ product.name }}" class="product-image">
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="product-title">{{ product.name }}</h1>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-price"><span class="product-discount">${{ product.price_per_unit }}</span> <span
                        class="product-old-price">$9999</span></p>
                <button class="btn btn-lg btn-block btn-primary w-40">Buy</button>
                {% if perms.catalog.can_change_description and perms.catalog.can_change_category or user == product.user_owner %}
                <a href="/update/{{ product.pk }}" class="btn btn-lg btn-block btn-warning w-40">Edit</a>
                {% endif %}
                <a href="/version/{{ active_version.uuid }}" class="btn btn-lg btn-block btn-warning w-40">Edit version</a>
                <a href="/delete/{{ product.pk }}" class="btn btn-lg btn-block btn-danger w-40">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}